@charset "UTF-8";

/*Começo header*/
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
button{display: none;}
body{
    padding: 0px 3%;
}
header{
    margin: auto;
}
#cabe{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: auto;
}

p{
    padding: 0px 10px;
    color: gray;
    text-align: center;
}
input{
    padding: 5px 5px;
    font-size: 0.9em;
    font-weight: bold;
    color: gray;
    margin-left: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}
#cad{
    padding: 10px 20px;
    margin-left: 10px;
    color: white;
    background-color: rgba(148, 0, 0, 0.911);
    border-radius: 8px;
}
input:hover{
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 5px;
    transition: 0.2s;
}
#imagem{
    cursor: pointer;
}
/*Final header*/

/*Começo main 1º section #sonos*/
#sonos{
    height: 407px;
}
.stit{
    padding-top: 50px;
    text-align: center;
    font-size: 1em;
    color: rgba(148, 0, 0, 0.911);
}
h1{
    padding: 20px 0px;
    text-align: center;
    font-size: 2em;
}
#ref{
    width: 80%;
    text-align: center;
    margin: auto;
    line-height: 25px;
}
/*final 1º section*/
/*Começo 2º section #feitos*/
#feitos{
    margin: auto;
    width: 80%;
    height: 288px;
    display: flex;
    flex-flow: row wrap;
}
article{
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}
.qtd{
    color: rgba(148, 0, 0, 0.911);
    font-size: 3em;
    padding-bottom: 10px;
    align-self: flex-start;
    text-align: left;
}
.st{
    color: black;
    align-self: flex-start;
    padding: 10px;
}
.txt{
    align-self: flex-end;
    height: 100px;
    text-align: left;
}
/* Final section #feitos 
   começo section recruta 
*/
#recruta{
    height: 1798px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reuniao{
    width: 100%;
    text-align: center;
}
#functit{
    text-align: left;
}
img{
    padding-top: 30px;
}
#imagem{
    margin-bottom: 30px;
}
/*final recruta
  começo vagas  
*/
.func{
    border: 1px solid rgba(128, 128, 128, 0.226);
    border-radius: 10px;
    height: 90px;
    margin-bottom: 5%;
    padding: 5px;
}
#functit{
    font-size: 1.3em;
}
h2{
    font-size: 1em;
    padding: 10px 20px;
}
#vagas{
    width: 70%;
}
.psal{
    padding-left: 20px;
    text-align: left;
}
/*final vagas
  comeco colaboradores
*/