@charset "UTF-8";

@media screen and (max-width:800px) {
    #menu{
        display: none;
    }
    #menu-botao{
        margin-left: 20%;
    }
    button{
        display: block;
    }
    #feitos{
        height: 10%;
    }
    article{
        flex-basis: 288px;
    }
}